p {
    font-family: Montserrat;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.Model {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 35px;
}

.underlined {
    text-decoration: underline;
}